{% extends "base.html" %} {% block title %}Shopping cart{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <h1>Shopping cart</h1>
    </div>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-right" colspan="3">Cart Subtotal: </th>
                    <th class="text-right">${{ cart_subtotal }}</th>
                </tr>
            </tfoot>
            <tbody>
                {% if cart_items %} 
                {% for item in cart_items %}
                <tr>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                    <td>${{ item.price }}</td>
                    <td>
                        <form method="post" action="." class="form-inline" style="display: inline-block">
                            {% csrf_token %}  
                            <label for="quantity">Quantity:</label> 
                            <input type="text" class="form-control input-sm" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" />
                            <input type="hidden" name="item_id"value="{{ item.id }}" />
                            <input type="submit" class="btn btn-sm btn-success" name="submit" value="Update" />
                        </form>
                        <form method="post" action="." class="form-inline" style="display: inline-block">
                            {% csrf_token %}  
                            <input type="hidden" class="form-control input-sm" name="item_id" value="{{ item.id }}" />
                            <input type="submit" class="btn btn-sm btn-danger" name="submit" value="Remove"/>
                        </form>
                    </td>
                    <td class="text-right">${{ item.total }}</td>
                </tr> {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">Your cart is empty.</td>
                </tr> 
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}