.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.margin-top-small{
    margin-top: 5px;
}

.product-thumbnail-img{
    display: block;
    width: auto;
    height: 400px !important;
}

.product-thumbnail-caption{
    height: 125px;
    overflow: hidden;
}

.product-full-img{
    display: block;
    margin: auto;
    width: auto;
    max-height: 400px !important;
}