{% extends "base.html" %} 
{% load staticfiles %}

{% block title %}Log in{% endblock %} 

{% block content %}
    <div class="container">
        <div class="form-signin">
            <form method="post" action="">
                {% csrf_token %}
                <h2 class="form-signin-heading">Please log in</h2>
                <input id="id_username" class="form-control" placeholder="Username" name="username" type="text" maxlength="254" required="" autofocus="">
                <input id="id_password" class="form-control" placeholder="Password" name="password" type="password" required>

                <button style="margin-top:10px" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {% comment %}<p style="margin-top:10px">Forgot your password? <a href="{% url 'auth_password_reset' %}">Reset it</a>.</p>{% endcomment %}
            <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>.</p>
        </div>
        <!-- /form-signin -->

        <a href="/accounts/login/facebook/"><img class="img-responsive center-block" style="width: 300px;" src="{% static 'images/facebook-login-blue.png' %}"/></a>
    </div>
    <!-- /container -->

{% endblock %}