{% extends "base.html" %} 

{% block title %}Loged out{% endblock %} 

{% block content %}
    <div class="container">
        <p class="text-center">You have been successfully loged out.</p>
    </div>
    <!-- /container -->

{% endblock %}