{% extends "base.html" %} 

{% block title %}Register for an account{% endblock %} 

{% block content %}
    <div class="container">
        <div class="form-signin">
            <form method="post" action="">
                {% csrf_token %}
                <h2 class="form-signin-heading">Registration form</h2>
                <input id="id_username" class="form-control" placeholder="Username" name="username" type="text" maxlength="254" required="" autofocus="">
                <input id="id_password1" class="form-control" placeholder="Password" name="password1" type="password" required>
                <input id="id_password2" class="form-control" placeholder="Password confirmation" name="password2" type="password" required>
                <input id="id_email" class="form-control" name="email" type="email" placeholder="Email" required>

                <button style="margin-top:10px" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
        <!-- /form-signin -->
    </div>
    <!-- /container -->

{% endblock %}