{% extends "base.html" %} 

{% block title %}Registration complete{% endblock %} 

{% block content %}
    <div class="container">
        <p class="text-center">Registration complete. You are now loged in.</p>
    </div>
    <!-- /container -->

{% endblock %}