{% extends "base.html" %} {% block title %}{{ category.name }}{% endblock %} {% block content %}
<div class="container">
    {% comment %}
    <div class="row">
        {% for product in products %}
        <div>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% endcomment %}
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="product-thumbnail-img" src="/media/{{ product.image }}">
                <div class="caption product-thumbnail-caption">
                    <h3>{{ product.name }}</h3>
                    {{ product.description }}
                </div>
                <div class="caption" style="margin-top: 5px;">
                    <div>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-default" role="button">Read more..</a>

                        <form method="post" action="{{ product.get_absolute_url }}" class="pull-right">
                            {% csrf_token %}
                            <input id="id_quantity" name="quantity" type="hidden" value="1">
                            <input id="id_product_slug" name="product_slug" type="hidden" value="{{ product.slug }}">
                            <input class="btn btn-primary" type="submit" value="Add To Cart!" name="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}