{% with active_categories as cats %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
        {% for c in cats %}
            {% ifequal c.get_absolute_url request_path %} 
            <li class="active"><a>{{ c.name }}</a></li>
            {% else %} 
            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
            {% endifequal %} 
        {% endfor %}
        </ul>
    </li>
{% endwith %}