{% extends "base.html" %} {% block title %}{{ p.name }}{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>{{ p.name }}</h1>
            <h4>Brand: <em>{{ p.brand }}</em></h4>
            <div> 
                In categor{{ categories.count|pluralize:"y,ies" }}: 
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a> {% if not forloop.last %}, {% endif %} 
                {% endfor %}
            </div>

            <div style="margin-top: 30px;"><h4>Price: $ {{ p.price }}</h4></div>
            <form method="post" action="." class="form-inline">
                {% csrf_token %} 
                <input id="id_product_slug" name="product_slug" type="hidden" value="{{ p.slug }}">
                <label for="id_quantity">Quantity:</label> 
                <input class="form-control input-sm" style="max-width: 50px" id="id_quantity" maxlength="5" name="quantity" size="2" type="text" value="1" required="">
                <input class="btn btn-sm btn-success" type="submit" value="Add To Cart" name="submit" alt="Add To Cart">
            </form>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img class="product-full-img center-block" src="/media/{{ p.image }}" />
        </div>
    </div>
    <div class="row col-xs-12">
        <h3>Product Description</h3>
        <p>{{ p.description }}</p>
    </div>

    <div class="row col-xs-12 col-sm-5">
        <h3>Comments</h3>
            {% if request.user.is_authenticated %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" action="./add-comment/">
                            {% csrf_token %} 
                            <input id="id_product_slug" name="product_slug" type="hidden" value="{{ p.slug }}">
                            <textarea class="form-control" id="id_text" name="text" placeholder="Share your opinion" rows="3" required=""></textarea>
                            <button class="btn btn-default pull-right" style="margin-top: 10px;" type="submit">Submit comment</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="panel-body">
                    <p style="margin-top: 10px;">You need to <a href="{% url 'auth_login' %}">login</a> to add your comment</p>
                </div>
            {% endif %}
            {% for cs in comments %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div><strong>{{ cs.author}}</strong> <span class="text-muted">commented {{ cs.publish_date }}</span></div>
                        <p style="margin-top: 10px;">{{ cs.text }}</p>
                    </div>
                </div><!-- /panel panel-default -->
            {% endfor %}  
    </div>
</div>
{% endblock %}