{% load staticfiles %}
{% load cart_tags %}
{% load catalog_tags %}
<!DOCTYPE html>

<html>

<head>
    <title>Music store - {% block title %}Home{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main_home' %}">Music Store </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'catalog_category' category_slug='all' %}">Browse all products</a></li>
                    {% category_list request.path %}
                </ul>
                <ul class="nav navbar-nav navbar-right">                    
                    {% if request.user.is_authenticated %}
                    <li><p class="navbar-text">Welcome '{{ request.user.get_full_name|default:request.user.username }}'</p></li>
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                    <li>{% cart_box request %}</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    {% block content %}{% endblock content %}
</body>

</html>